

#header-div {
    background-color: #FE5D9F;
}

#bank {
    background-color:#F686BD;
}

#work {
    background-color: #F686BD;
}

#laptops {
    background-color: #F686BD;
}

#features {
    background-color: #F686BD;
}

#info {
    background-color: #F686BD;
}
